<%# we pass in our articles object to the errors partial so that we
  # reuse it
%>
<%= render 'shared/errors', obj: @article %>

<%#div class='row'%>
  <%#div class='col-xs-12'%>
    <%= form_for @article do |f| %>
       <div class="form-group row">
         <div class="col-sm-2 col-form-label">
           <%= f.label :title %>
         </div>
         <div class="col-sm-10">
           <%= f.text_field :title, class: "form-control", placeholder: "Title of Article", autofocus: true %>
         </div>
       </div>
       <div class="form-group row">
         <div class="col-sm-2 col-form-label">
           <%= f.label :description %>
         </div>
         <div class="col-sm-10">
           <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description" %>
         </div>
       </div>
       <div class="form-group row">
           <div class="col-sm-10">
             <%= f.submit class: "btn btn-primary"%>
           </div>
     </div>
    <% end %>
  <%#/div%>
 <%#/div%>
