<h1> Articles Page - Welcome </h1>
<p><%= link_to "Create New Article", new_article_path %></p>

<!--div class="flickr_pagination"-->

<div class="flickr_pagination">
    <%= will_paginate @articles %>
</div>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>UserID</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>
</thead>
  <% @articles.each do |a| %>

     <tr>
       <td><%= link_to a.id, article_path(a) %></td>
       <td><%= a.title %></td>
       <td><%= truncate(a.description, length: 100) %></td>
       <td><%= a.user_id %></td>
       <% if a.user.nil? %>
          <td>N/A</td>
       <% else %>
          <td><%= a.user.username %></td>
       <% end %>
       <td><%= link_to "Delete", article_path(a), class: "btn btn-danger btn-sm", method: :delete,
       data: {confirm: "Are you sure you want to delete?"} %></td>
       <td><%= link_to "Edit", edit_article_path(a), class: "btn btn-success btn-sm" %></td>
     </tr>
  <% end %>

</table>
<div class="flickr_pagination">
    <%= will_paginate @articles %>
</div>
